NEXT_PUBLIC_APP_NAME=SVCE Craft Area

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAIA8AyLxm31tgmIadOw_2D1dwJbFlFKvA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=svce-craft-area.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=svce-craft-area
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=svce-craft-area.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=86305521183
NEXT_PUBLIC_FIREBASE_APP_ID=1:86305521183:web:7bc3608b82f3294c789f2a

# Admin user's UID (get it after first login; check console or Firebase Auth users list)
NEXT_PUBLIC_ADMIN_UID=9kVpx19WyNUu4Q528OosAkhJH0w1

# Razorpay (Test Mode)
RAZORPAY_KEY_ID=rzp_test_SMS0yCFSc6JcNe
RAZORPAY_KEY_SECRET=wLw9X84aGQ4VZBYbHN7f1Dl4
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_SMS0yCFSc6JcNe